// color variables
$primary_color: rgb(199, 199, 217);
$succes-color: rgb(95, 95, 230);
$succes-hover-color: rgb(112, 181, 212);
$title-color: rgb(57, 75, 125);
$bg_color: wheat;

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: $bg_color;
    margin: 0px;
    padding: 0px;
}


.content {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    h1{

        color: $title-color;
    }


    h4 {
        color: gray
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        border: 1px solid black;
        th, td {
            border: 1px solid black;
            padding: 10px;

            th {
                background-color: lightgray;
                color: #333;
            }
        }
    }

    a {
        color: $primary_color;
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 20px;
        color: #2d84ca;
        background-color: $primary_color;
        text-decoration: none;
        transition: color 0.3s ease;
        &:hover {
            background-color: $succes-hover-color;
        }
    }
     
    input {
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: 1px solid;
        
    }

    #btn_add {
        background-color: $succes-color;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: $succes-hover-color;
        }
    }
}

